﻿@using JuiceMachine.Models.DbModels
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Автомат напитков</title>
    @Styles.Render("~/Content/css")
</head>
<body>
@Html.Partial("NavTpl")
<div class="container">
    @RenderBody()
    <hr/>
    <footer>
        <p>&copy; @DateTime.Now.Year - Автомат напитков</p>
    </footer>
</div>

@Scripts.Render("~/Content/js")
@RenderSection("scripts", required: false)
</body>
</html>