﻿@using JuiceMachine.Models.DbModels
@{ List<CoinItem> coins = ViewBag.Coins; }

<div class="container fixed-top">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <span class="navbar-brand">Ваш баланс: <span id="user-balance">@ViewBag.Balance</span>р.</span>
        @foreach (var coin in coins)
        {
            <button class="btn btn-outline-success my-2 my-sm-0@(coin.Par == CoinPar.One ? " ml-auto" : "") send-money-button @(coin.IsBlocked ? "disabled" : "")" 
                    type="submit" data-id="@coin.Id">
                Внести @coin.Par.Name()
            </button>
        }
        <button class="btn btn-outline-success my-2 my-sm-0 @(ViewBag.Balance == 0 ? "disabled" : "")" type="submit" id="moneyback-button">Выдать сдачу</button>
    </nav>
</div>