﻿@{
    ViewBag.Title = "Администрирование";
}

<ul class="nav nav-tabs" id="grid-tab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" href="#juice-tab-content" id="juice-tab" data-toggle="tab" role="tab" aria-selected="true">Напитки</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#coin-tab-content" id="coin-tab" data-toggle="tab" role="tab" aria-selected="false">Монеты</a>
    </li>
</ul>
<div class="tab-content" id="grid-tab-content">
    <div class="tab-pane fade show active" id="juice-tab-content" role="tabpanel">
        <a href="#" id="juice-add" class="juice-add-button" title="Добавить напиток">
            <i class="fas fa-plus-square"></i>
        </a>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Название</th>
                <th scope="col">Картинка</th>
                <th scope="col">Стоимость</th>
                <th scope="col">Остаток</th>
                <th scope="col">Действия</th>
            </tr>
            </thead>
            <tbody id="juice-container">
            </tbody>
        </table>
    </div>
    <div class="tab-pane fade" id="coin-tab-content" role="tabpanel">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Номинал</th>
                <th scope="col">Блокировка</th>
                <th scope="col">Остаток</th>
                <th scope="col">Действия</th>
            </tr>
            </thead>
            <tbody id="coin-container">
            </tbody>
        </table>
    </div>
</div>