﻿.juice-add-button {
    font-size: 30px;
    margin-left: 5px;
}

.tab-content i.is-blocked { color: red }

.tab-content i.isnt-blocked { color: gray }

.edit-button, .delete-button {
    cursor: pointer;
    margin-right: 5px;
}

.juice-thumbnail {
    max-width: 100px;
    max-height: 100px;
}