﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.card-deck { margin-top: 15px }

.card-img-top {
    width: 100%;
    height: 200px;
    object-fit: contain;
}

nav button { margin-left: 2px }

.card { cursor: pointer; }

.card.disabled {
    opacity: 0.4;
    cursor: default;
}