﻿@model JuiceMachine.Areas.Admin.Models.CreateJuiceModel

<div class="modal fade" id="dialog-create-juice" tabindex="-1" role="dialog" aria-labelledby="dialog-create-juice-title" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="dialog-create-juice-title">Добавление напитка</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("CreateJuice", "Api", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        @Html.LabelFor(m => m.Title, new {@class = "col-form-label"})
                        @Html.TextBoxFor(m => m.Title, new {@class = "form-control"})<div class="invalid-feedback">@Html.ValidationMessageFor(m => m.Title)</div>
                    </div>
                    <div class="form-group">
                        @Html.TextBox("ImageFile", "", new {style = "display:none", type = "file", id = "hidden-juice-image"})
                        @Html.LabelFor(m => m.Image, new {@class = "col-form-label"})
                        @Html.TextBoxFor(m => m.Image, new {@class = "form-control", @readonly = "readonly"})<div class="invalid-feedback">@Html.ValidationMessageFor(m => m.Image)</div>
                        <button type="submit" class="btn btn-primary my-1 " id="juice-upload-image-button" formnovalidate="formnovalidate">Загрузить картинку</button>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.PriceValue, new {@class = "col-form-label"})
                        @Html.TextBoxFor(m => m.PriceValue, new {@class = "form-control"})<div class="invalid-feedback">@Html.ValidationMessageFor(m => m.PriceValue)</div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.StockBalance, new {@class = "col-form-label"})
                        @Html.TextBoxFor(m => m.StockBalance, new {@class = "form-control"})<div class="invalid-feedback">@Html.ValidationMessageFor(m => m.StockBalance)</div>
                    </div>
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                <button type="button" class="btn btn-primary">Сохранить</button>
            </div>
        </div>
    </div>
</div>