﻿@using JuiceMachine.Models.DbModels
@model JuiceMachine.Areas.Admin.Models.EditCoinModel

<div class="modal fade" id="dialog-edit-coin" tabindex="-1" role="dialog" aria-labelledby="dialog-edit-coin-title" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="dialog-edit-coin-title">Редактирование монеты</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("EditCoin", "Api", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(m => m.Id)
                    <p>Редактирование монеты с номиналом @(((CoinPar) ViewBag.Par).Name())</p>
                    <hr/>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Balance, new {@class = "col-form-label"})
                        @Html.TextBoxFor(m => m.Balance, new {@class = "form-control"})<div class="invalid-feedback">@Html.ValidationMessageFor(m => m.Balance)</div>
                    </div>
                    <div class="form-group form-check">
                        @Html.CheckBoxFor(m => m.IsBlocked, new {@class = "form-check-input"})
                        @Html.LabelFor(m => m.IsBlocked, new {@class = "form-check-label"})
                    </div>
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                <button type="button" class="btn btn-primary">Сохранить</button>
            </div>
        </div>
    </div>
</div>