﻿@using JuiceMachine.Models.DbModels
@model List<JuiceMachine.Models.DbModels.CoinItem>

@foreach (var coin in Model)
{
    <tr>
        <td>@(coin.Par.Name())</td>
        <td>
            <i class="fas fa-ban @(coin.IsBlocked ? "is-blocked" : "isnt-blocked")"></i>
        </td>
        <td>@coin.Balance шт.</td>
        <td>
            <i class="fas fa-edit edit-button" title="Редактировать" data-id="@coin.Id"></i>
        </td>
    </tr>
}