﻿@model List<JuiceMachine.Models.DbModels.JuiceItem>

@foreach (var juice in Model)
{
    <tr>
        <td>@juice.Id</td>
        <td>@juice.Title</td>
        <td>
            <img src="@juice.ImageSrc" class="rounded float-left img-thumbnail juice-thumbnail" title="@juice.Title"/>
        </td>
        <td>@juice.PriceValue руб.</td>
        <td>@juice.StockBalance шт.</td>
        <td>
            <i class="fas fa-edit edit-button" title="Редактировать" data-id="@juice.Id"></i>
            <i class="fas fa-trash-alt delete-button" title="Удалить" data-id="@juice.Id"></i>
        </td>
    </tr>
}