﻿@model List<JuiceMachine.Models.DbModels.JuiceItem>
@{
    ViewBag.Title = "Главная страница";
    var i = 0;
}

@foreach (var juice in Model)
{
    if (i % 3 == 0)
    {
        @Html.Raw("<div class=\"card-deck\">")
    }
    <div class="card @(juice.StockBalance == 0 ? "disabled" : "")" style="width: 18rem;" title="Купить" data-id="@juice.Id">
        <img src="@juice.ImageSrc" class="card-img-top">
        <div class="card-body">
            <h5 class="card-title">@juice.Title</h5>
            <p class="card-text">Цена: <span class="card-price">@juice.PriceValue</span>р.</p>
        </div>
    </div>
    if ((i + 1) % 3 == 0)
    {
        @Html.Raw("</div>")
    }
    {
        i++;
    }
}
@if (i % 3 > 0)
{
    @Html.Raw("</div>")
}