﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Автомат напитков</title>
    @Styles.Render("~/Admin/css")
</head>

<body>
<div class="container">
    <div class="navbar navbar-light bg-light">
        @Html.ActionLink("На главную", "Index", "Home", new {area = ""}, new {@class = "navbar-brand"})
    </div>
</div>

<div class="container body-content">
    @RenderBody()
    <hr/>

    <footer>
        <p>&copy; @DateTime.Now.Year - Автомат напитков</p>
    </footer>
</div>

@Scripts.Render("~/Admin/js")
@RenderSection("scripts", required: false)
</body>
</html>